@model LeaveManagementSystem.Models.LeaveBalance

@{
    ViewData["Title"] = "GetLeaveBalanceByUserId";
}

<h1>Get_Leave_Balance_By_UserId</h1>

<div>
    <h4>LeaveBalance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalLeaveDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalLeaveDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemainingLeaveDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemainingLeaveDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="UpdateLeaveBalance" asp-route-id="@Model?.BalanceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
