@model IEnumerable<LeaveManagementSystem.Models.LeaveApproval>

@{
    ViewData["Title"] = "GetAll_Leaves";
}

<h1>GetAllLeaves</h1>

<p>
    <a asp-action="ADDLeaves">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveRequest.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApprovalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ApprovalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ApprovalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
