@model LeaveManagementSystem.Models.LeaveApproval

@{
    ViewData["Title"] = "Get_Leave_Request_By_ID";
}

<h1>GetLeaveRequestByID</h1>

<div>
    <h4>LeaveApproval</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovalStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveRequest.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ApprovalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
